NEXTCLOUD_CONTAINER_NAME=nextcloud
NEXTCLOUD_PORT=8080
NEXTCLOUD_DATA_VOLUME=nextcloud_data
NEXTCLOUD_DATA_DIR=/var/www/html/data
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=change_me_now
NEXTCLOUD_TRUSTED_DOMAINS=localhost 127.0.0.1

DB_CONTAINER_NAME=mariadb
DB_NAME=nextcloud
DB_USER=nextcloud_user
DB_PASSWORD=securepassword
DB_ROOT_PASSWORD=rootpassword
DB_DATA_VOLUME=database_data

REDIS_CONTAINER_NAME=redis
REDIS_HOST_PASSWORD=redispassword
REDIS_DATA_VOLUME=redis_data

PHPMYADMIN_CONTAINER_NAME=phpmyadmin
PHPMYADMIN_PORT=9090

ENABLE_RESTART=unless-stopped

# Seleziona UNA sola famiglia di immagini

# arm64
NEXTCLOUD_IMAGE=arm64v8/nextcloud
DB_IMAGE=yobasystems/alpine-mariadb:arm64v8
PHPMYADMIN_IMAGE=arm64v8/phpmyadmin
REDIS_IMAGE=arm64v8/redis

# amd64
# NEXTCLOUD_IMAGE=nextcloud
# DB_IMAGE=mariadb:10.11
# PHPMYADMIN_IMAGE=phpmyadmin:latest
# REDIS_IMAGE=redis:7-alpine